<footer>
  <div class="wrapper">
    <div class="pure-g">
      <div class="pure-u-1 pure-u-md-1-2">
        <h4>Contact Info</h4>
        <hr>
        <a><span>Email </span>{{ .Site.Params.footer.email }}</a>
        <a><span>Proudly made in </span>{{ .Site.Params.footer.proudly }}</a>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <h4>Links</h4>
        <hr>
        {{ $currentNode := . }}
        {{ range .Site.Menus.main }}
        <a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
        {{end}}
      </div>
      <!--div class="pure-u-1 pure-u-md-1-3">
        <h4>Social</h4>
        <hr>
        {{ $currentNode := . }}
        {{ range .Site.Menus.social }}
        <a class="nav-item{{if or ($currentNode.IsMenuCurrent "social" .) ($currentNode.HasMenuCurrent "social" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
        {{end}}
      </div-->
    </div>
  </div>
</footer>
</body>
<script src="{{ .Site.BaseURL }}js/dev.js"></script>
<script src="{{ .Site.BaseURL }}js/app.js"></script>
</html>
